/* ! Hero Section */

.home__hero {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-block-end: 9.375rem;
}

.home__hero__content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home__hero__content-container p {
  font-family: Roboto-Bold;
  font-size: 4rem;
  color: #383838;
}

.home__hero__image-container {
  min-height: 829px;
  background: url(/images/building-1.png) no-repeat center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

/* ! About Section */

.home__about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-block-end: 7.5rem;
  width: 80%;
  margin-inline: auto;
}

.home__about__image-container {
  display: flex;
  gap: 2rem;
}

.home__about__image-container div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.home_about__image-3 {
  height: 80%;
  margin-block-start: 2rem;
}

.home__about p {
  margin-block-end: 2rem;
  font-family: Roboto-Light;
  line-height: 1.4;
}

/* ! Focus Section */

.home__focus__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-block-end: 7.5rem;
  gap: 2rem;
}

.home__focus h2 {
  margin-block-end: 2rem;
}

.home__focus__grid div {
  display: flex;
  gap: 2rem;
  align-items: center;
  width: 90%;
  margin-inline: auto;
}

.home__focus__grid div p:nth-of-type(1) {
  font-family: Roboto-Black;
  font-size: 12.5rem;
  color: #f2f2f2;
}

.home__focus__grid div p:nth-of-type(2) {
  font-size: 1.375rem;
  line-height: 36px;
}

/* ! Projects Section */

.home__projects {
  display: flex;
  flex-direction: column;
  margin-block-end: 7.5rem;
}

.home__projects h2 {
  margin-block-end: 3.75rem;
}

.home__projects__image-container {
  display: flex;
  gap: 1rem;
}

.home__projects__image-container:nth-of-type(1) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-block-end: 1rem;
}

.home__projects__image-container:nth-of-type(2) {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
}

.home__projects__image-container img {
  width: 100%;
  height: 100%;
}

.home__projects .link--dark {
  align-self: flex-end;
  margin-block-start: 1rem;
}
