/* ! Hero Section */

.home__hero {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-block-end: 9.375rem;
}

.home__hero__content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home__hero__content-container p {
  font-family: Roboto-Bold;
  font-size: 4rem;
  color: #383838;
}

.home__hero__image-container {
  min-height: 829px;
  background: url(/images/building-1.png) no-repeat center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

/* ! About Section */

.home__about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-block-end: 7.5rem;
  width: 80%;
  margin-inline: auto;
}

.home__about__image-container {
  display: flex;
  gap: 2rem;
}

.home__about__image-container div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.home_about__image-3 {
  height: 80%;
  margin-block-start: 2rem;
}

.home__about p {
  margin-block-end: 2rem;
  font-family: Roboto-Light;
  line-height: 1.4;
}
