.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.5rem 2.5rem;
}

.header__logo {
  margin-inline-start: -1.3rem;
  margin-block-start: 1rem;
}

.header__right-container {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.header nav {
  display: flex;
  gap: 1rem;
}
