@font-face {
  font-family: Roboto-Light;
  src: url(/fonts/Roboto-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Roboto-Regular;
  src: url(/fonts/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Roboto-Medium;
  src: url(/fonts/Roboto-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Roboto-Bold;
  src: url(/fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Roboto-Black;
  src: url(/fonts/Roboto-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: OpenSans;
  src: url(/fonts/OpenSans-VariableFont.ttf);
}

@font-face {
  font-family: Gothic-Regular;
  src: url(/fonts/GothicA1-Regular.ttf);
  font-weight: 400;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: Roboto-Regular;
}

.wrapper {
  padding-inline: 5%;
}

img {
  max-width: 100%;
}

.link {
  all: unset;
  cursor: pointer;
  font-size: 0.75rem;
  text-transform: uppercase;
  border-block-start: 1px solid white;
  border-block-end: 1px solid white;
  padding-block: 0.2rem;
  padding-inline: 0.5rem;
  transition: 0.5s;
}

.link:hover {
  border-block-start: 1px solid black;
  border-block-end: 1px solid black;
}

.active {
  border-block-start: 1px solid black;
  border-block-end: 1px solid black;
}
