@font-face {
  font-family: Roboto-Light;
  src: url(/fonts/Roboto-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Roboto-Regular;
  src: url(/fonts/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Roboto-Medium;
  src: url(/fonts/Roboto-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Roboto-Bold;
  src: url(/fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Roboto-Black;
  src: url(/fonts/Roboto-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: OpenSans;
  src: url(/fonts/OpenSans-VariableFont.ttf);
}

@font-face {
  font-family: Gothic-Regular;
  src: url(/fonts/GothicA1-Regular.ttf);
  font-weight: 400;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: Roboto-Regular;
}

.wrapper {
  padding-inline: 5%;
  max-width: 2000px;
  margin-inline: auto;
}

.wrapper--dark {
  background-color: #343434;
  color: white;
  padding-inline: 5%;
  border: none;
  max-width: 2000px;
  margin-inline: auto;
}

img {
  max-width: 100%;
}

h2 {
  font-family: Roboto-Light;
  font-size: 4rem;
  color: #bbbbbb;
  text-transform: uppercase;
}

.link {
  all: unset;
  cursor: pointer;
  font-size: 0.75rem;
  text-transform: uppercase;
  border-block-start: 1px solid white;
  border-block-end: 1px solid white;
  padding-block: 0.2rem;
  padding-inline: 0.5rem;
  transition: 0.5s;
}

.darkMode--header .link {
  border-block-start: 1px solid #343434;
  border-block-end: 1px solid #343434;
}

.link:hover {
  border-block-start: 1px solid #343434;
  border-block-end: 1px solid #343434;
}

.darkMode--header .link:hover {
  border-block-start: 1px solid white;
  border-block-end: 1px solid white;
}

.active {
  border-block-start: 1px solid #343434;
  border-block-end: 1px solid #343434;
}

.link--more {
  all: unset;
  background-color: white;
  cursor: pointer;
  color: #383838;
  padding: 1.5rem 2rem;
  margin-inline-start: -1px;
  margin-block-end: -1px;
  text-transform: uppercase;
  font-size: 12px;
}

.link--dark {
  background-color: #383838;
  color: white;
}

.link--light {
  background-color: white;
  color: #383838;
}

.darkMode--header .active {
  border-block-start: 1px solid white;
  border-block-end: 1px solid white;
}

.darkMode--header {
  background-color: #343434;
  color: #ffffff;
}

.darkModeIcon--dark {
  cursor: pointer;
}

.darkMode--header .darkModeIcon--dark {
  display: none;
}

.darkModeIcon--light {
  display: none;
  cursor: pointer;
}

.darkMode--header .darkModeIcon--light {
  display: inline-block;
}

@media only screen and (max-width: 1000px) {
  h2 {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  h2 {
    font-size: 2.5rem;
  }
}
